
#bodyindex{
	background-color: white;
}





/*


██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
                                                
                                   
*/

#about{
	z-index: 1;
	position: absolute;
	top: 40px;
	right: 60px;
	width: 90px;
	height: 20px;
	font-family: 'Cabin Sketch', arial;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.3em;

}


#haut{
	z-index: 2;	
	position: absolute;
	top: 102vh;
	text-align: right;
	right: 60px;	
	width: 90px;
	height: 20px;
	background-color: white;

	font-family: 'Cabin Sketch', arial;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.3em;	
	display: block;
}



header{
	height: 95px;
	position: fixed;
	overflow-x: auto;	
	top: 0;
	left: 0;
	transition: all 1s ease;	
	background-color: white;
	overflow: hidden;
	width:calc(20vw + 42px) ;

}
/*
header:hover{
	height: 100vh;
	transition: all 1s ease;
	box-shadow: 5px 0px 50px rgba(0,0,0,0.2);	
	background-color: white;	
}
header:active{
	height: 65px;	
	transition: all 0s ease;	
}*/


h1{
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 300, "wdth" 80;	
	overflow: hidden;
	color: black;
	padding: 10px;
	margin-top: 0px;
	margin-left: 135px;
	height: auto;
	width: calc(40vw - 200px);
	display: inline-block;	
	vertical-align: top;
	/*border: 1px solid red;*/

}






#logohaut{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	width: 110px;
	z-index: 1;		
}
#logohaut img{
	transform: rotate(-0.02turn);
	margin-left: 35px;
	width: 50px;
}

strong{
	font-weight: 800;
}

/*


██╗███████╗██████╗  █████╗ ███╗   ███╗███████╗
██║██╔════╝██╔══██╗██╔══██╗████╗ ████║██╔════╝
██║█████╗  ██████╔╝███████║██╔████╔██║█████╗  
██║██╔══╝  ██╔══██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║██║     ██║  ██║██║  ██║██║ ╚═╝ ██║███████╗
╚═╝╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝
                                                                                                                                               
                                   
*/

#grille{
	width: 100vw;
	position: relative;
	left: 0vw;
	margin-top:110px;
	margin-bottom: 30px;


}

#cache{
	display: inline-block;
}

.containeriframe{
	display: inline-block;
	width: 20vw;	
	margin-left: 40px; 	
	margin-right: 2vw;	
	height: calc(100vh - 125px);
	 -webkit-height: calc(100vh - 125px);
	 -moz-height: calc(100vh - 125px);		
	 overflow: hidden;
}



.colonne{

	margin-top: 0px;

}

#free{
	width: 20vw;
	margin-top: 0px;
	vertical-align: top;
}


.headerarticletheorie{
	width: 100%;
	height: 400px;
	border: 1px solid black;
	/*background-color: #ff2c5e;*/
}



.headerarticletechnique{
	width: 100%;
	height: 400px;
	border: 1px solid red;
	/*border: 1px solid grey;*/
	/*background-color: #03CEA4;*/
}

.headerarticletechnique .boiteimage{
	height: 400px;
	width: 100%;	
	display: flex;
	overflow: hidden;
}




#prez{
	width: 35vw;
	margin-bottom: 0px;
	overflow: scroll;
	background-color: white;
}

#prez p{

	font-size: 1.3em;
	line-height: 1.7em;
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 300, "wdth" 100;	
	color: black;
	padding: 2em 2em 20px 2em;
	display: inline-block;	
	vertical-align: top;
	text-align: left;

}






#credits{
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 100, "wdth" 70;	
	font-size: 0.8em;
	display: inline-block;
}

footer{
	width: 100vw;
}










