/*


████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 

*/


@font-face {
    font-family: 'resistanceregular';
    src: url('font/resistance_generale-webfont.eot');
    src: url('font/resistance_generale-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/resistance_generale-webfont.woff2') format('woff2'),
         url('font/resistance_generale-webfont.woff') format('woff'),
         url('font/resistance_generale-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'etc-trispace';
	 src: url('font/etc/ETCTrispaceVariable.woff2') format('woff2-variations'); 
}

strong{
	font-variation-settings: "wght" 600, "wdth" 120;
	text-transform: uppercase;	
}

a{
	text-decoration: none;
	color: black;
}

p a {
	text-decoration: underline;
}

#bodyindex{
	background-color: #f2f2f2;
	padding-bottom: 50px;
}





/*


██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
                                                
                                   
*/


#about{
	z-index: 1;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 90px;
	height: 20px;
	font-family: 'Cabin Sketch', arial;
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 0.2em;
	text-align: right;

}


#haut{
	z-index: 2;	
	position: absolute;
	top: 102vh;
	text-align: right;
	right: 30px;	
	width: 90px;
	height: 20px;
	background-color: white;
	font-family: 'Cabin Sketch', arial;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.3em;	
	display: none;
}




header{
	z-index: 3;	
	height: auto;
	position: relative;
	overflow: auto;	
	margin:30px auto 20px;
	transition: all 1s ease;	
	background-color: #f2f2f2;
	/*border: 1px solid black;*/
	width: 85vw;

}



header:hover{
	
}
/*
header:active{
	height: 380px;
	transition: all 1s ease;
	background-color: #2DE1FC;	
}*/


h1{
	font-size: 1em;
	line-height: 1.6em;
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 400, "wdth" 80;	
	overflow: hidden;
	color: black;
	padding: 20px 0px 0px 0px;
	margin:auto;
	height: auto;
	width: 80vw;
	display:block;	
	vertical-align: top;



}

h1 strong{
	font-variation-settings: "wght" 600, "wdth" 80;	

	text-transform: initial;
}

#logohaut{
	display: none;
	opacity: 0;
	vertical-align: top;
	padding-top: 10px;
	width: 50px;
}

#logohaut img{
	transform: rotate(-0.02turn);
	margin-left: 10px;
	width: 25px;
}




.scroll::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: #f2f2f2; /* or add it to the track */
}

.scroll::-webkit-scrollbar-thumb {
    background: lightgrey;
}










/*
                                         __    _ __   
   ____  ____ __   __   ____ ___  ____  / /_  (_) /__ 
  / __ \/ __ `/ | / /  / __ `__ \/ __ \/ __ \/ / / _ \
 / / / / /_/ /| |/ /  / / / / / / /_/ / /_/ / / /  __/
/_/ /_/\__,_/ |___/  /_/ /_/ /_/\____/_.___/_/_/\___/ 
                                                      

*/



#navmobile{
	display: block;
	width: 80vw;
	margin: auto;
	padding: 1em;	
}







aside{
	display: flex;
	height: auto;
	margin:0px auto 10px;
}


aside .checkon{
	position: relative;
	width: 10px;
	height: 10px;	
	top:1px;
	left: -21px;	
 	opacity: 0;
 	transition: all 0.3s ease-out;
	
}

aside:hover .checkon{
	opacity: 1;
	left: -11px;
}

aside:hover .checkoff{
 	opacity: 0;
 	left: 10px;	
}

aside .checkoff{
	position: relative;
	width: 10px;
	height: 10px;	
	top:1px;
 	opacity:1;
 	left: 0px;	
 	transition: all 0.3s ease-out;
	
}

.filtrecours, .filtretechnique, .filtreref, .filtreall{
	display: flex;
}

.filtrecours .checkon, .filtretechnique .checkon, .filtreref .checkon, .filtreall .checkon{
 	opacity: 0;
}



h3{
	font-family: 'etc-trispace';
	text-transform: initial;
	font-variation-settings: "wght" 290 , "wdth" 80 ;		
	height: auto;
	font-size: 0.9em;
	color: black;

}
.titrefiltre{
	font-family: 'etc-trispace';	
	font-variation-settings: "wght" 100, "wdth" 90;
	text-transform: initial;	
	margin-bottom: 40px;
	font-size: 0.9em;


}


.reference{
	color:#FF783A;
}

.technique{
	color:#03CEA4;
}

.cours{
	color:#ff2c5e;
}



.filtre{
	width: 90%;
	margin:auto;
	height: auto;
	/*border: 1px solid red;*/

}

.titreliste{
	font-family: 'etc-trispace';
	font-size: 0.6em;
	font-variation-settings: "wght" 200, "wdth" 80;		
}



.filtre a{
	text-decoration: none;
}


.listefiltre{
	display: flex;
	justify-content: space-between;	


}






















/*


██╗███████╗██████╗  █████╗ ███╗   ███╗███████╗
██║██╔════╝██╔══██╗██╔══██╗████╗ ████║██╔════╝
██║█████╗  ██████╔╝███████║██╔████╔██║█████╗  
██║██╔══╝  ██╔══██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║██║     ██║  ██║██║  ██║██║ ╚═╝ ██║███████╗
╚═╝╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝
                                                                                                                                               
                                   
*/





#grille{
	margin-top:0px;
	margin-bottom: 50px;

}



.containeriframe{
	display:none;
	width: 85vw;	
	overflow: scroll;
	-webkit-overflow-scrolling: touch;		
	margin: 0px auto 3em;
	padding: 5px 5px 0px 5px;
	background-color:white ;
	height: 100vh;	
	-webkit-height: 100vh;
	border: 1px solid lightgrey;
}

.colonne{

	height: 100%;
	width: 100%;

}



#free{
	width: 85vw;
	display: none;
	margin: 0px auto 3em;
	padding: 5px 5px 0px 5px;	

}

#prez{
	width: 85vw;
	height: auto;
	margin: 0px auto 3em;
	/*padding: 5px 5px 0px 5px;*/	
	overflow: scroll;
	display: block;	
}

#prez p{
/*	width: 80vw;
*/	font-size: 0.9em;
	line-height: 1.6em;
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 300, "wdth" 100;	
	color: black;
	padding: 30px 2em 20px 2em;
	display: inline-block;	
	vertical-align: top;
	text-align: left;


}



sup{
	position: relative;
	bottom: 1px;
	font-size: .8em;
	line-height: .8em;
	vertical-align: super;
	text-decoration: none;
}






.headerarticletheorie{
	width: 100%;
	height: 80px;
	/*border: 1px solid grey;*/
	/*background-color: #ff2c5e;*/
}

.headerarticletheorie .boiteimage{
	height: 80px;
	width: 100%;	
	display: flex;
	overflow: hidden;
}

.headerarticletechnique{
	width: 100%;
	height: 80px;
	border: 1px solid red;
	/*border: 1px solid grey;*/
	/*background-color: #03CEA4;*/
}

.headerarticletechnique .boiteimage{
	height: 80px;
	width: 100%;	
	display: flex;
	overflow: hidden;
}

/*


███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
                                                                                                 
                                   
*/

footer{
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding-top: 10px;
	display: block;
	justify-content: space-between;
	align-items: center;	
	background-color: white;

}

#logo{
	vertical-align: middle;
	width:70px;
	opacity: 1;
	height: 10px;
	align-items: center;
	position: fixed;
	left:10px;
	top: 10px;
		
}

#logo img{
		height: 18px;
		position: relative;
}


h2{
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 400, "wdth" 80;	
	font-size: 1.2em;
	padding-left: 10px;
	display: none;	
}

nav{
	margin-top:0px;
	vertical-align: middle;	
	width: auto;
	background-color: rgba(255,255,255,1);
}

nav ul{
	display: flex;
	width: 100%;
	justify-content: space-around;
	position: relative;
	top: 5px;

}



li a{
	display: flex;
	height: 20px;
	width: 60px;
	align-items: center;
	justify-content: space-around;
	width: auto;
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 300, "wdth" 90;	
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: right;

}

.picto{
	width: 15px;
	/*border: 1px solid red;*/
	height: auto;
	margin-left: 0px;
	margin-right: 10px;
	font-size: 1.3em;
	margin-top: 2px;
	transform: rotate(0deg) translate(0%, 0%);
	transition: all 0.2s ease;

}
.picto img{
	width: 90%;
}

#credits{
	font-family: 'etc-trispace';
	font-variation-settings: "wght" 100, "wdth" 70;	
	font-size: 0.7em;
	text-align: center;
	position: relative;
	top: 30px;		
	display: none;
}



















