:root{
 	--rose : #ff2c5e;

	--vert: #03CEA4;

	--orange: #FF783A;

	--largeur:calc(100vw - 160px); 

}



/*


████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 

*/

i{
	font-style: italic;
}



@font-face {
    font-family: 'resistanceregular';
    src: url('font/resistance_generale-webfont.eot');
    src: url('font/resistance_generale-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/resistance_generale-webfont.woff2') format('woff2'),
         url('font/resistance_generale-webfont.woff') format('woff'),
         url('font/resistance_generale-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'etc-trispace';
    src: url('font/etc/ETCTrispaceVariable.eot');	 
	
	 src: url('font/etc/ETCTrispaceVariable.woff2') format('woff2-variations'); 
}


a{
	text-decoration: none;
	color: black;
}

body{
	
}
#bodyindex{
	/*background-color: #fafafa;*/
	/*background-color: white;*/
}

/*


██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
                                                
                                   
*/

#about{
	z-index: 5700;
	position: absolute;
	top: 25px;
	right: 80px;
	width: 100px;
	height: 20px;
	font-family: 'Overpass', sans-serif;	
/*	text-transform: uppercase;*/
	font-size: 0.8em;
/*	letter-spacing: 0.2em;*/
	text-align: right;
/*	background-color: red;*/

}

#TD{
	z-index: 2;
	position: absolute;
	top: 30px;
	left: 25px;
	
	height: 20px;
	font-family: 'Overpass', sans-serif;	
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-align: left;
	border-bottom: 1px solid black;
/*	background-color: blue;	*/

}



header{
	/*background-color: white;*/
	display: flex;
	height:80px;
	z-index: 5000;
	overflow: none;

	/*background-color: white;	*/

	/*border: 1px solid black;*/
	width: 50vw;


}


/*
header:hover{
	transition: height 1s ease;

	height: 100vh;
	width: 45vw;
	box-shadow: 5px 0px 50px rgba(0,0,0,0.2);	
	background-color: white;	
}

header:active{
	height: 100vh;	
}*/

h1{
	font-size: 0.9em;
	line-height: 1.3em;
	font-family: 'Overpass', sans-serif;
	overflow: hidden;
	color: black;
	margin-top: 25px;
	margin-left: 82px;
	height: auto;
	display: inline-block;	
	vertical-align: top;


}


h1 strong{
		letter-spacing: 0.1em;
	/*	display: inline-block;
		padding-bottom: 0.4em;*/
	text-transform: uppercase;
	font-weight:bold; 
}



h1 a {
	font-variation-settings: "wght" 400, "wdth" 80;	
	
}




h1 #actif{
	text-decoration: underline;
}

#logohaut{
	display: inline-block;
	position: fixed;
	z-index: 25;
	vertical-align: top;
	margin-top: 13px;
	width: 60px;
}
#logohaut img{
/*	transform: rotate(-0.02turn);
*/	margin-left: 15px;
	width: 45px;
}


/*


███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
                                                                                                 
                                   
*/

#footerindex{
	position: fixed;
}

footer{
	height: 50px;
	z-index: 5;	
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	background-color: #fafafa;*/
/*	background-color: rgba(255,255,255,1);*/


}


#footerfree{
	position: fixed;
	bottom: 0;
	left: 0;	
}

#logo{
	vertical-align: middle;
	width: auto;
	height: 40px;
	display: flex;
	align-items: center;		
	margin-left: 0px;
/*	border: 1px solid red;
*/	/*background-color: rgba(255,255,255,1);*/

}


#credits{
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 100, "wdth" 70;	
	font-size: 0.8em;
	display: block;
	text-align: left;
/*	border: 1px solid red;*/
}


nav{
	vertical-align: middle;	
	width: 40vw;
/*		border: 1px solid red;*/
	/*background-color: rgba(255,255,255,1);*/

}



h2{

}


#logo img{
		height: 20px;
		position: relative;
		left: 10px;
		top: 1px;

}



footer ul{
	display: flex;
	width: 100%;
	align-items: center;	
	justify-content: space-around;


}

footer li a{
	display: flex;
	align-items: center;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 300, "wdth" 90;	
	font-size: 0.7em;

}


.picto{
	width: 20px;
	height: 30px;
	margin-right: 5px;
	font-size: 1.5em;
	padding-top: 15px;
	transform: rotate(0deg) translate(0%, 0%);
	transition: all 0.2s ease;


}

.picto img{
	width: 70%;
}

h5:hover{
	text-decoration: underline;
}


/*
                                         __    _ __   
   ____  ____ __   __   ____ ___  ____  / /_  (_) /__ 
  / __ \/ __ `/ | / /  / __ `__ \/ __ \/ __ \/ / / _ \
 / / / / /_/ /| |/ /  / / / / / / /_/ / /_/ / / /  __/
/_/ /_/\__,_/ |___/  /_/ /_/ /_/\____/_.___/_/_/\___/ 
                                                      

*/




#navmobile{

	width: 75vw;
	margin: 50px auto;
/*	border: 1px solid green;*/
	justify-content: space-between;	
}


#navmobile figure{
	width: 100%;
	height: 10px;
	/*background-color: white;*/
	overflow: hidden;
}

#navmobile figure img{
display: block;
opacity: 0.2;
position: relative;


}

section a{
	position: relative;

}

#navmobile #ens{
	padding: 20px;
	display: inline-block;
	height: 20px;
	width: 45%;
	transition: .3s ease all;
}


#navmobile #ens:hover{
}



#navmobile #ens:hover .filtre{
	opacity: 1;
}


#navmobile #free{
	height: 20px;
	padding: 20px;
	display: inline-block;
	width: 40%;
	transition: .3s ease all;
}


#navmobile #free:hover{
}



#navmobile #free:hover .filtre{
	opacity: 1;
}



#navmobile aside{
	display: flex;
	height: auto;

}



.retouraccueil{
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 100, "wdth" 70;	
	font-size: 0.8em;
	display: block;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 20px;

}







/*


██╗███████╗██████╗  █████╗ ███╗   ███╗███████╗
██║██╔════╝██╔══██╗██╔══██╗████╗ ████║██╔════╝
██║█████╗  ██████╔╝███████║██╔████╔██║█████╗  
██║██╔══╝  ██╔══██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║██║     ██║  ██║██║  ██║██║ ╚═╝ ██║███████╗
╚═╝╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝
                                                                                                                                               
                                   
*/




#grille{
	width: 100vw;
	position: relative;
	left: 0vw;
	margin-top: 70px;
	margin-bottom: 60px;
	height: auto;
	/*border: 1px solid red;*/
}




#prez{
	width: 105vw;
	height: 100vh;
	/*padding: 5px 5px 0px 5px;*/	
	overflow: scroll;
	position: fixed;
	left: -5vw;
	top: 0px;
	z-index: 6000;
	display: none;	
	background-color: rgba(0,0,0,0.3);
}


.important{
		font-weight: 700;
}


#prez p{
/*	width: 80vw;
*/	
	width: 40vw;
	height: auto;
	margin:100px auto;
	overflow: scroll;
	font-size: 0.9em;
	line-height: 1.6em;
	font-family: 'Overpass', sans-serif;
	color: black;
	font-weight: 400;
	padding: 30px 2em 20px 2em;
	vertical-align: top;
	text-align: left;
	background-color: white;


}

#prez p a{


	font-family: 'Overpass', sans-serif;

	font-weight: 400;
	
	text-decoration: underline;


}

sup{
	position: relative;
	bottom: 1px;
	font-size: .8em;
	line-height: .8em;
	vertical-align: super;
	text-decoration: none;
}



.scroll::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: #fff; /* or add it to the track */
}

.scroll::-webkit-scrollbar-thumb {
    background:#f2f2f2; 
}

/*

 █████╗ ██████╗ ████████╗██╗ ██████╗██╗     ███████╗███████╗
██╔══██╗██╔══██╗╚══██╔══╝██║██╔════╝██║     ██╔════╝██╔════╝
███████║██████╔╝   ██║   ██║██║     ██║     █████╗  ███████╗
██╔══██║██╔══██╗   ██║   ██║██║     ██║     ██╔══╝  ╚════██║
██║  ██║██║  ██║   ██║   ██║╚██████╗███████╗███████╗███████║
╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝╚══════╝╚══════╝╚══════╝
                                                          

*/



.conteneurTD{
	display: flex;
	width: 100vw;
	margin-left: 82px ;


}

.conteneurTD ul{
	width: 35%;
	height: calc(100vh - 115px);
	overflow: scroll;	
	margin-right: 2rem;

}

.conteneurTD ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

.conteneurTD ul::-webkit-scrollbar-thumb {
 height: 3px;
/*	background-color: rgba(255,120,58,0.3);*/
	background-color: 	;

}

.conteneurTD ul h3{
	margin-bottom: 10px;
	/*color:  #ff2c5e;*/

}
#langagesweb h3, #langagesweb li, #langagesweb a{
	color:  #ff2c5e;
}

#motion h3, #motion li, #motion a{
	color:  #03CEA4;
}

.conteneurTD ul li{

	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 400, "wdth" 90;	
	line-height: 1.8em;	
	height: auto;
	font-size: 0.9em;
	color: black;
}

.conteneurTD ul li a:hover{
	text-decoration: underline;

}


#conteneurgeneral{
/*	background-color: lightgrey;
*/
}




.conteneurcours{

	height:310px;
	width:var(--largeur);
	margin-bottom: 20px;
	margin-left: 80px;
	display: flex;
	overflow: scroll;
	align-items: stretch;
/*	box-shadow: 1px 1px 10px #03CEA4;*/	
/*border-right: 1px dashed black;*/
/*background-color: white;*/
	/*border-left: 1px solid green;*/
}

.conteneurcours::-webkit-scrollbar {
  width: 0px;
  height: 1px;


}

.conteneurcours::-webkit-scrollbar-thumb {

/*	background-color: rgba(255,120,58,0.3);*/
	background:black ;



/*	background-image: url("fleche.png"), url("bord.png");
	background-repeat:  no-repeat, repeat-x;
	background-position: 100%, 10%;
	background-size: 8px, 1px;*/
	/*background: linear-gradient(0.25turn, #ffffff, #F0F0EF, #d8d8d7);*/

}




article{
	width: calc(calc(var(--largeur) / 4 ) - 2.3vw);

/*	border: 1px solid green;*/
/*	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);*/
/*	margin:0px 20px 110px 20px;*/
	margin-right: 3vw;
	margin-left: 0rem;	
	transition: all ease 0.4s;

}

article:hover{
/*transform: scale(0.9, 0.9);*/
/*box-shadow: 1px 1px 10px rgba(0,0,0,0.3);*/

}

article:hover .plus{
	transform-origin: center;		
	background-color: rgba(0,0,0,0)/*lightgrey*/;
	transform: rotate(360deg);	
	color: black;
	padding-bottom: 1px;
	transition: 1s all ease;	


}



article img{
	transform: scale(1, 1);
	transition: 1s all ease;		
}
article:hover img{
	transform: scale(1.2, 1.2);
}


.espace{
	height: 90px;
}

.titreasidefree{
	display: grid;
	align-items: center;
	text-align: left;
	width: 300px;
	height: 300px;
	margin-right: 20px;
	margin-left: 30px;

/*	border: 1px solid green;*/
}



.titreaside{
 display: none;
}

h3{
	font-family: 'etc-trispace','Overpass Mono', monospace;
	text-transform: uppercase;
	font-variation-settings: "wght" 600, "wdth" 100;		
	height: auto;
	font-size: 1em;
	color: black;

}




.titre{
	width: 100%;
	height: 50px;
	font-size: 1em;
	margin-left: 0px;
	padding-bottom: 0px;
	margin-top: -2px;
	margin-bottom: 10px;
	line-height: 1.4em;
	font-family: 'Overpass', sans-serif;	
	font-weight: 600;
	/*font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 500, "wdth" 80;	*/	

}

#suivi{
	height: 360px;
	/*border: 1px solid red;*/
}

#suivi .titre{
		height:90px;
}


.light{
		font-variation-settings: "wght" 90, "wdth" 140;		

}

.reference{
	color:#FF783A;
}

.technique{
	color:#03CEA4;
}

.cours{
	color:#ff2c5e;
}



.contour{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);	
	/*border: 1px solid darkgrey ;*/
}



.boitelegendearticle{
	width: 100%;
	margin-top: 10px;

}



.italic{
	font-style: italic;
	font-weight: 700;	
}

.plus{
	/*border: 1px solid black;*/
	border-radius: 7px;
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	text-align: center;
	position: relative;
	top: 5px;
	left: 95%;
	transform-origin: center;		
	color:black ;
	/*border: 1px solid green;*/

}





.boiteintrohtml{
	border: 1px solid var(--vert);
	width: 99%;	
}

.boiteimage #introhtml{
	width: 100%;
	margin:auto;
	text-align: center;
	font-size: 1.3em;
	color: var(--vert);
	padding-top:17%;

	height: auto;

	line-height: 1.4em;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 300, "wdth" 90;		

}



/*


████████╗██╗  ██╗███████╗ ██████╗ ██████╗ ██╗███████╗
╚══██╔══╝██║  ██║██╔════╝██╔═══██╗██╔══██╗██║██╔════╝
   ██║   ███████║█████╗  ██║   ██║██████╔╝██║█████╗  
   ██║   ██╔══██║██╔══╝  ██║   ██║██╔══██╗██║██╔══╝  
   ██║   ██║  ██║███████╗╚██████╔╝██║  ██║██║███████╗
   ╚═╝   ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝
                                                     
                                   
*/


.headerarticletheorie{
	width: 100%;
	height: 210px;
	/*border: 1px solid black;*/
	/*background-color: #ff2c5e;*/
}

.headerarticletheorie .boiteimage{
	height: 180px;
	width: 100%;	
	display: flex;
	overflow: hidden;

}


.headerarticletheorie .boiteimage img{
	width: 100%;
	margin: auto;	
	padding:auto;

}



.categorietheorie{
	/*border: 1px solid black;*/	
	width: 100%;
	color: #ff2c5e;
	height: 20px;
	margin-top:  -7px;
	

	font-size: 0.7em;
	text-align: left;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 500, "wdth" 80;	
	
}


.categorietechnique{
	/*border: 1px solid black;*/	
	width: 100%;
	font-size: 0.7em;
	text-align: left;	
	color: #03CEA4;
	height: 20px;
	margin-top: -7px;
	margin-left: 0px;		
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 500, "wdth" 80;	
	
}

.categoriereference{
	/*border: 1px solid black;*/	
	width: 100%;
	color: #FF783A;
	height: 20px;
	margin-top:  -7px;
	margin-left: 0px;		

	font-size: 0.7em;
	text-align: left;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 500, "wdth" 80;	
	
}


.categorieall{
	/*border: 1px solid black;*/	
	width: 100%;
	color: black;
	height: 20px;
	margin-top:  -7px;
	margin-left: 0px;		

	font-size: 0.7em;
	text-align: left;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 500, "wdth" 80;	
	
}


/*


████████╗███████╗ ██████╗██╗  ██╗███╗   ██╗██╗ ██████╗ ██╗   ██╗███████╗
╚══██╔══╝██╔════╝██╔════╝██║  ██║████╗  ██║██║██╔═══██╗██║   ██║██╔════╝
   ██║   █████╗  ██║     ███████║██╔██╗ ██║██║██║   ██║██║   ██║█████╗  
   ██║   ██╔══╝  ██║     ██╔══██║██║╚██╗██║██║██║▄▄ ██║██║   ██║██╔══╝  
   ██║   ███████╗╚██████╗██║  ██║██║ ╚████║██║╚██████╔╝╚██████╔╝███████╗
   ╚═╝   ╚══════╝ ╚═════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝ ╚══▀▀═╝  ╚═════╝ ╚══════╝
                                                                       
                               
*/



.headerarticletechnique{
	width: 100%;
	height: 210px;
	/*border: 1px solid black;*/
	/*background-color: #03CEA4;*/
}


.headerarticletechnique .boiteimage{
	height: 180px;
	width: 100%;	
	display: flex;
	overflow: hidden;
}

.headerarticletechnique .boiteimage img{
	width: 100%;
	margin: auto;	

}



			#conteneur{
				border: 3px solid #03CEA4;
				width: 100%;
				display: flex;
				background-color:rgba(255, 255, 255, 0.6);
			}

			#conteneur p{
				font-family: 'Roboto', sans-serif;
				font-weight: 100;
				letter-spacing: 0.5em;
				color: #03CEA4;
				font-size: 2em;
				text-align:center;
				text-transform: uppercase;
				opacity: 100;
				transition: all ease 0.7s;
				width: 100%;
				height: auto;
				margin:auto;
			}

			#conteneur:hover p{
				font-size: 2.8em;

				letter-spacing: 0.3em;
				transition: all ease 0.7s;

			}


/*


██████╗  ██████╗ ██████╗ ████████╗███████╗ ██████╗ ██╗     ██╗ ██████╗ 
██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝██╔════╝██╔═══██╗██║     ██║██╔═══██╗
██████╔╝██║   ██║██████╔╝   ██║   █████╗  ██║   ██║██║     ██║██║   ██║
██╔═══╝ ██║   ██║██╔══██╗   ██║   ██╔══╝  ██║   ██║██║     ██║██║   ██║
██║     ╚██████╔╝██║  ██║   ██║   ██║     ╚██████╔╝███████╗██║╚██████╔╝
╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝      ╚═════╝ ╚══════╝╚═╝ ╚═════╝ 
                                                                                                                                     
                               
*/






.conteneurfree{
	display: grid;
	width:var(--largeur);
	margin-bottom: 20px;
	margin-left: 80px;
	grid-column-gap: 3vw;
	grid-template-columns: 1fr 1fr 1fr 1fr;


}


.conteneurfree article{
	width: 20vw;
	height: 320px;
/*	border: 1px solid green;
*/	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
/*	margin:0px 20px 110px 20px;*/
	margin-right: 0rem;
	margin-left: 0rem;	
	transition: all ease 0.4s;

}





.headerarticleportfolio{
	width: 100%;
	height: 210px;
	/*border: 1px solid black;*/
	/*background-color: #2DE1FC;*/
}

.headerarticleportfolio .boiteimage{
	width: 100%;	
	height: 180px;
	overflow: hidden;
	display: flex;
}

.headerarticleportfolio .boiteimage img{
	width: 100%;
	margin: auto;	

}




/*
██████╗  █████╗  ██████╗ ███████╗     █████╗ ██████╗ ████████╗██╗ ██████╗██╗     ███████╗
██╔══██╗██╔══██╗██╔════╝ ██╔════╝    ██╔══██╗██╔══██╗╚══██╔══╝██║██╔════╝██║     ██╔════╝
██████╔╝███████║██║  ███╗█████╗      ███████║██████╔╝   ██║   ██║██║     ██║     █████╗  
██╔═══╝ ██╔══██║██║   ██║██╔══╝      ██╔══██║██╔══██╗   ██║   ██║██║     ██║     ██╔══╝  
██║     ██║  ██║╚██████╔╝███████╗    ██║  ██║██║  ██║   ██║   ██║╚██████╗███████╗███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝╚══════╝╚══════╝
                                                                                         
*/

.conteneurarticle{
	width: 40vw;
	margin:0px auto 50px;

}



.retour{
	margin-top: 10px;
	font-size: 0.7em;
	width: 100%;
	height: auto;
	color: black;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 400, "wdth" 80;	
}
.retour a{
	text-decoration: underline;
}



strong{
	font-variation-settings: "wght" 600, "wdth" 120;
	text-transform: uppercase;	

}

em{
	font-variation-settings: "wght" 300, "wdth" 120;
	color: #03CEA4;
}

p a {
	text-decoration: underline;
}


.navsec{
display: flex;
justify-content: space-between;
}

.precedent, .suivant{
	margin-top: 30px;
	font-size: 0.7em;
	width: auto;
	color: black;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 400, "wdth" 80;	
}
.precedent a:hover, .suivant a:hover{
	text-decoration: underline;
}








.entete{
	margin-top:20px;
	height:auto;
	margin-bottom: 20px;

}

.entetetitre{
	margin-top:20px;
	margin-bottom:10px;	
	height: auto;
}

h4{
	margin-bottom: 0px;
	/*border: 1px solid blue;*/
	font-size: 1.1em;
	line-height: 1.4em;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	margin-bottom: 5px;
	font-variation-settings: "wght" 500, "wdth" 90;	
}




.enteteimg{
	width: 100%;
	margin:30px 0px 50px;
	/*background-color: #f6f6f6;*/
	/*border: 1px solid #ebebeb;*/
	/*box-shadow: 0px 0px 100px #ebebeb;*/
}


.enteteimg img{
width: 100%;
margin: auto;
}


.enteteimg iframe{
/*	border: 1px solid red;*/
	width: 100%;
	height: 300px;
	margin: auto;
}



.legendes{
	hyphens: none;	
	-webkit-hyphens : none;	
	width: 95%;
	margin-left: 2%;
	font-size: 0.8em;
	line-height: 1.6em;
	margin-top: 10px;
	margin-bottom: 2em;
	padding-bottom: 5px;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 100, "wdth" 80;
	/*font-style: italic;*/
	text-align: center;
}


.oeuvre{
		font-variation-settings: "wght" 400, "wdth" 80;
		font-style: normal;
}



.conteneurarticle p{
	font-size: 0.9em;
	line-height: 1.6em;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: left;
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
}

.categorie:before{
	    content: "›";
	    position:relative;
	    right: 5px;
}

.conteneurarticle .categorie{
	/*border: 1px dotted #ffd6e0;*/
	color: #ff2c5e;
	font-family: 'Overpass', sans-serif;	
/*	color: white;
	background-color: #ff2c5e;*/
	font-size: 0.8em;
	text-align: left;
	padding-left: 0.2em;
	font-weight: 600;/*
	margin-bottom: -10px;*/	
	font-style: italic;
	letter-spacing: 0.1em;

}



.lien {
	font-size: 0.7em;
	line-height: 1.4em;
	text-decoration: none;
	text-align: left;
	font-family: 'etc-trispace','Overpass Mono', monospace;
	font-variation-settings: "wght" 200, "wdth" 80;		
}

.lien a:hover {
	text-decoration: underline;
}


