@media screen and (max-width:1440px) {
/* imac 13 pouces */

	body{
		background-color: blue;
		transition: all 1.5s ease;
	}

}

@media screen and (max-width:1024px) {
/* iPad portrait & landscape */
	body{
		background-color: red;
	}

}

@media screen and (max-width:768px) {
/* iPad portrait */
	body{
		background-color: yellow;
	}


}

@media screen and (max-width:667px) {
/* Mobiles paysage */
/* iPhone6+ paysage = 960px */
/* iPhone6 paysage = 667px */
/* iPhone5s paysage = 568px */
/* iPhone4 paysage = 468 px */
	body{
		background-color: green;
	}


}

