
/************ début du CSS *************/

body{
	background-color: #ebeded;
}

#conteneur{
	width: 900px;
	margin:10px auto;
}

header{
	background-color:#56CBF9;
	border: 5px solid white;
	width: 890px;
	height: 200px;
}

nav{
	background-color:#FF729F;
	border: 5px solid white;
	width: 890px;
	height: 80px;
	margin-top:-5px;


}

section{
	display: flex;
}
aside{
	background-color: #D3C4D1;
	border: 5px solid white;
	width: 250px;
	height: 300px;
	margin-top:-5px;

}


article{
		background-color: #81F4E1;
		border: 5px solid white;
		width: 635px;
		height: 300px;
		margin-top:-5px;
		margin-left:-5px;
}

footer{
	background-color:#FF1053;
	border: 5px solid white;
	width: 890px;
	height: 130px;
	margin-top:-5px;

}


h1{
	line-height: 25px;
	padding-top: 25px;
	padding-left: 30px;
	font-size: 27px;
	color: white;
	font-family: helvetica;
	font-weight: 500;
	text-transform: uppercase;

}

p{
	display:none; 
	padding-left: 30px;	
	padding-right: 20px;		
	margin-top: 5px;
	font-size: 25px;
	line-height: 28px;
	color: white;
	font-family: helvetica;
	font-weight: 300;

}

header:hover p{
	 display:block;

}
nav:hover p{
	 display:block;

}
aside:hover p{
	 display:block;

}
article:hover p{
	 display:block;

}
footer:hover p{
	 display:block;

}


nav p{
	font-size: 15px;
	line-height: 16px;
}








