#conteneur{
	width: 393px;
	height: 470px;
	margin: 150px auto;
	background-color:rgba(214, 198, 243, 1);
}
#conteneur:hover{
	border: 0px solid red;
	background-image:url(../image/rectangle-2.gif);}


p{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 0.5em;
	margin-left: 15px;
	color: white;
	font-size: 3em;
	text-align:center;
	text-transform: uppercase;
	padding-top: 200px;
	

}


