*{
	transition: all 0.5s ease-out;
}

#conteneur {
	width:393px;
	height: 300px;
	margin: 100px auto;
	overflow: hidden;
	box-shadow: 15px 15px 0px lightgrey;

}

#conteneur figure{
	position: relative;
	top: 0px;
	right: 0px;
}

#conteneur:hover figure{
	top: -100px;
	right: 0px;

}



#conteneur p{
	text-align: center;
	padding-top:40px;
	color: white;
	font-family: 'Montserrat';
	font-weight: 900;
	height: 100px;
	letter-spacing: 0.3em;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #de9fa0;
	position: relative;
	top: -10px;
	right: 0px;
}

#conteneur:hover p{
	top: -110px;
	right: 0px;

}

































