

	body{
		background-color: #F9FF56;
		font-family: Georgia, serif;

	}
	header{ 
		width: 1024px;
		margin:50px auto;
		height: 400px;
		background-color: white;
		border: 3px solid black;
		transition: all 0.7s ease;
		background-color: #BFD7EA;			
	}

	h1{
		letter-spacing: 0.5em;
		padding-left: 0.5em;		
		font-size: 9em;
		text-align: center;
		text-transform: uppercase;
		margin-top: 130px ;
		transition: all 1s ease;
}







@media screen and (max-width:1024px) {
/* iPad portrait & landscape */


	body{
		background-color: pink;

	}

	header{ 
		width: 600px;
		background-color: #F9FF56;
	}

	h1{
		font-size: 6em;
		text-align: center;
		text-transform: uppercase;
		margin-top: 130px ;

	}
}

@media screen and (max-width:768px) {
/* iPad portrait */
	body{
		background-color: #F9FF56;
	}

	header{ 
		width: 400px;
		background-color: pink;		
	}
	h1{
		font-size: 4em;
		letter-spacing: 0.5em;
		text-align: center;
		text-transform: uppercase;
		margin-top: calc(50% - 1em) ;
		
	}
}

