

body{
	background-color: #F9C22E;
}

h1{
	font-family: 'Bebas Neue', cursive;
	color: #DE3C4B;
	letter-spacing: 0.22em;
	text-align: center;
	font-size: 5em;
	text-decoration: overline;
	margin-top: 20px;
}


a{/* apparence de base des liens*/
	text-decoration: underline;
	color: #DE3C4B;
}

a:hover{ /* apparence du lien au survol de la souris*/
	text-decoration: none;
}

a:active{/* apparence du lien au clic*/
	text-decoration: line-through;	
}

a:visited{/* apparence du lien visité*/
	color: black;

}

