body{
	background-color: rgba(83,179,203,0.2); /*le "a" correspond à la couche alpha */
	/* ceci est un commentaire */
}

a{
	color: #53B3CB;
}

h1,h2,h3,h4,h5,h6,p, li{
/*	line-height: 1em;
*/	font-family: 'Bangers', cursive;
	color: #DE3C4B;
}

h1{
		font-size: 4em;
}



h2{
		font-size: 3em;
}

h3{
		font-size: 2.5em;
}

h4{
		font-size: 2em;
}

h5{
		font-size: 1.5em;
}

h6{
		font-size: 1.2em;
}

p, li{
		font-size: 3.5em;
}
ul {
  list-style: square inside;
}

ol {
  list-style: circle inside;
}


hr{
	height: 1em;
	background-color: #DE3C4B;
	border:black;
}

img{
	width: 400px;
}