

p{	
	font-family: 'Roboto', sans-serif;	
	color: #292b2b;
	background-color: #f4f4f4;
	letter-spacing: 0.08em;
	line-height: 0.9em;
	font-size: 3em;
}

h1{
	position: absolute;
	top:30vh;
	right: 40vw;
	font-size: 2em;
	width: 400px;
	text-align: center;
	background-color: rgba(244,244,244,0.9);
	padding: 1em;
	border:5px solid #292b2b;
}

h1:hover{
	background-color: #292b2b;
	border:5px solid #f4f4f4;
	color: #f4f4f4;
}






