
/*
color : 
#FF783A - orange
#03cea4 - vert


*/



@keyframes fond {
  0% { 	
	background-image: url(../import/beaub4.png);
 
 	     
  	}

  33% { 

	background-image: url(../import/beaub1.png);
  }

   66% { 

	background-image: url(../import/multi.png);
  }


   100% { 

	background-image: url(../import/cours.png);
  }

}





/*
                                     
eeee e   e eeeee  eeeee eeeee eeeee  
8  8 8   8 8   8  8   " 8  88 8   8  
8e   8e  8 8eee8e 8eeee 8   8 8eee8e 
88   88  8 88   8    88 8   8 88   8 
88e8 88ee8 88   8 8ee88 8eee8 88   8

*/

#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left:  calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;  
  filter: url(#goo);
  z-index: 302;
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--bg);
  transform-origin: center center;
}

body {
  overflow-x: hidden;
   background-color: white;
/*  cursor: none;*/
}

.goo{
	display: none;
}



#conteneurENS, #conteneurMotion, #conteneurWeb, #conteneurFREE{
	background-color: white;
}





/*
                                     
eeee e   e eeeee  eeeee eeeee eeeee  
8  8 8   8 8   8  8   " 8  88 8   8  
8e   8e  8 8eee8e 8eeee 8   8 8eee8e 
88   88  8 88   8    88 8   8 88   8 
88e8 88ee8 88   8 8ee88 8eee8 88   8

*/








/*
html{
	width: 100vw;
	overflow-x: hidden;
}
*/
body{
    font-family: 'Source Sans 3 VF',Helvetica,Arial,sans-serif;
    overflow-x: hidden;

}

a{
	text-decoration: none;
	color: inherit;
}




#logo{
	position: absolute;
	top:-400%;
	left: -10%;
	z-index:301;
	width: 80px;
	height: 80px;

	cursor: grab;
}

#logo img{
	width: 100%;

}


/*
#### ##    ## ######## ########   #######  
 ##  ###   ##    ##    ##     ## ##     ## 
 ##  ####  ##    ##    ##     ## ##     ## 
 ##  ## ## ##    ##    ########  ##     ## 
 ##  ##  ####    ##    ##   ##   ##     ## 
 ##  ##   ###    ##    ##    ##  ##     ## 
#### ##    ##    ##    ##     ##  #######  

https://www.topster.fr/texte-ascii/banner3.html
*/

#intro{
	position: relative;
	transition: all ease;
	height: 100vh;
	width: 100%;
	background-color: black;	
	background-image: url(../import/beaub4.jpg);
	background-size: cover;
	border: 1px solid black;
	position: relative;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


#intro nav{
    width: 90vw;	
    max-width: 60rem;
	margin: auto;
	position: relative;
/*	position: absolute;
	right: 10%;
	top: 0px;*/
}

#intro nav ul{
	display: flex;
	justify-content: space-around;
}

#intro nav ul a{
	font-size: 1em;
	width: 80%;
	position: relative;
/*	height: 2.5em;*/
	line-height: 2.5em;
	border: 1px solid grey;
	text-align: center;
	font-family:'ETC Trispace Variable',Helvetica,Arial,sans-serif;
  	font-variation-settings: "wght" 300, "wdth" 90;
  	text-transform: uppercase;	
  	transition: all ease 1s;
  	font-weight: 600;
}

#intro nav ul a:hover{
	background-color: rgba(255,255,255,0.2);
	border: 1px solid rgba(255,255,255,0);	
	font-weight: 200;
	font-variation-settings: "wght" 600, "wdth" 110;
}




