.styled-v-bar{ /* sample CSS class for a different vertical scrollbar look */
	background:	url(../img/custom-scroll-bar.png) center top no-repeat;
	width: 3px;
	margin-right: 0;
	margin-bottom: 6px;
}

 /* Style for the "ins" inner element, or bottom of the scrollbar */ 

/*
.styled-v-bar ins{
	display: block;
	abackground:	url(../img/custom-scroll-bar1.png) center bottom no-repeat;
	background-color:red;
	width: 3px;
	height: 4px;
	position: absolute;
	top: 100%;
}

*/
